* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(./img/background.jpeg);
    margin: 0;
}
.logo {
    width:80px;
}
header {
    color: white;
    background-color: rgba(64, 65, 66, 0.432);
    padding: 10px;
    position: relative;
}
.login ul{
    position: absolute;
    top: 15px;
    left: 80%;
}
.language   {
    position: absolute;
    top: 15px;
    left: 87%;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 0px;
    height: 20px;
    transition:height 1s;
}
.dropdown-content a{
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
    height: 50px;
}
nav li {
    padding: 10px;
}
nav ul {
    display: flex;
    padding: 5px;
    margin: 0;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: white;
}
nav li:hover{
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10%;
}
.ship {
    object-fit: cover;
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0px 8px 16px 0px rgba(10,10,10,10.2);
}
.medee .news {
    display: inline-block;
    width: 30%;
    height: 400px;
    margin: 0 10px 50px 35px;
    align-items: center;
    color: white;
}
.newsimg {
    width: 400px;
    border-radius: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.map {
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(10,10,10,10);
}
.background {
    width: 100%;
    height: 1000px;
}
.transparent {
    position: relative;
}
.transparent .intro {
    width: 500px;
    border-radius: 50%;
    box-shadow: rgba(10, 10, 10, 10);
}
.transparent .intro{
    position: absolute;
    top: 25%;
    left: 10%;
}
.transparent .curtain {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0,70%);
}
.transparent p{
    position: absolute;
    top: 20%;
    left: 60%;
    color: white;
    font-size: 30px;
    width: 500px;
    word-spacing: 10px;
}
footer {
    color: white;
    padding: 10px;
    position: relative;
}
.menu   {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 0;
}
.social ul{
    display: flex;
    list-style-type: none;
}
.socials {
    width: 30px;
    margin: 10px;
}